<!DOCTYPE html>
<head>

</head>
<body>
    <form action = "/cancel_delete" method = "POST"> 
    <h1> Cancel Flight </h1>
    <h3> Select a flight to cancel. <h3> 
    <table>

        <th>Ticket ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Flight Number</th>
        <th>Airline Name</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        
    
    {% for line in future_flights %}
    <tr>

        <td> 
            <input type="radio" name="ticket_id" value = "{{line['ticket_id']}}" required/>
                {{line['ticket_id']}}
        </td> 
        
        <td>{{line['passenger_fname']}}</td>
        <td>{{line['passenger_lname']}}</td>
        <td>{{line['flight_num']}}</td>
        <td>{{line['airline_name']}}</td>
        <td>{{line['dept_date']}}</td>
        <td>{{line['dept_time']}}</td>



    </tr>
    {% endfor %}
    </table>
<br> 
<input type = "submit" value = "Cancel"> </br>

</form> 

</body>
<a href="/customer_home">home</a></br>
<a href="/logout">Logout</a>


</html>