<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <form action="/customer_registerAuth" method="POST">

        <h2>Customer Information </h2>
        <label for="email_address">Email Address:</label><br> 
        <input type="text" name = "email_address" required/> </br>

        <label for="password">Password:</label><br> 
        <input type="password" name = "password" required/> </br>

        <label for="cell_phone_num">Cell Phone Number:</label><br>
        <input type="text" name="cell_phone_num" required><br>

        <label for="fname">First name:</label><br>
        <input type="text" name="fname" required><br>
        <label for="lname">Last name:</label><br>
        <input type="text" name="lname" required><br><br>

        <h2>Address Information</h2>
        <label for="building_num">Building Number:</label><br>
        <input type="text" name="building_num" required><br>
        <label for="street_name">Street Name:</label><br>
        <input type="text" name="street_name" required><br>
        <label for="apt_num">Apartment Number:</label><br>
        <input type="text" name="apt_num" required><br>
        <label for="city">City:</label><br>
        <input type="text" name="city" required><br>
        <label for="state">State:</label><br>
        <input type="text" name="state" required ><br>
        <label for="zip_code">Zip Code:</label><br>
        <input type="text" name="zip_code" required><br>

        <h2>Passport Information</h2>
        <label for="pass_exp_date">Passport Expiration Date:</label><br>
        <input type="date" name="pass_exp_date" required><br>
        <label for="passport_num">Passport Number:</label><br>
        <input type="text" name="passport_num" required><br>
        <label for="passport_country">Passport Country:</label><br>
        <input type="text" name="passport_country" required><br>
        <label for="dob_date">Date of Birth:</label><br>
        <input type="date" name="dob_date" required><br>

        <input type="submit" value=Register>
        {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	    {% endif %}
    </form>


</body>
<a href="/">welcome page</a></br>
</html>

