<html>
<head>
</head>
<body>

<h1>Welcome staff {{username}}</h1>

<a href="/staff_view_flights">view flights</a></br>
<a href="/create_new_flights">new flights</a></br>
<a href="/check_flight_status">check_flight_status</a></br>
<a href="/change_flight_status">change flight status</a></br>
<a href="/add_airplane">add airplane</a></br>
<a href="/add_airport">add airport</a></br>
<a href="/view_flight_rating">view flight rating</a></br>
<a href="/view_frequent_customer">view frequent customer</a></br>
<a href="/view_reports">view reports</a></br>
<a href="/view_earned_revenue">view earned revenue</a></br>




<a href="/logout">Logout</a>

</body>


</html>
